<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - MyPortfolioBlog</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

@{
    var showNavbar = true;
    var showHeader = true;

    if (ViewBag.Title == "Details")
    {
        showHeader = false;
        showNavbar = false;
    }
}

<body>
    @if (showNavbar)
{
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Atalay Çelik Blog</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Anasayfa</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/About">Hakkımda</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Contact">İletişim</a></li>
                </ul>
            </div>
        </div>
    </nav>
    }
    <!-- Page Header -->
    @{
        var backgroundImage = "";
        var pageTitle = ViewData["Title"].ToString();
        switch (pageTitle)
        {
            case "Anasayfa":
                backgroundImage = "home-bg.jpg";
                break;
            case "Hakkımda":
                backgroundImage = "about-bg.jpg";
                break;
            case "Blog":
                backgroundImage = "blog-bg.jpg";
                break;
            case "İletişim":
                backgroundImage = "contact-bg.jpg";
                break;
            case "Details":
                var post = ViewBag.Post as MyPortfolioBlog.Models.BlogPost;
                if (post != null && !string.IsNullOrEmpty(post.ImageUrl))
                {
                    backgroundImage = post.ImageUrl;
                }
                break;
        }
    }
    @if (showHeader)
    {
        <header class="masthead" style="background-image: url('@Url.Content("~/img/" + backgroundImage)')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>@ViewData["Title"]</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    }
    

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @RenderBody()
            </div>
        </div>
    </div>

    <hr />

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="text-muted text-center">Copyright &copy; Atalay Çelik 2024</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Custom scripts for this template -->
    <script src="~/js/scripts.js"></script>
</body>

</html>
