@{
    ViewData["Title"] = "Hakkımda";
}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h1> Hakkımda</h1>
    <p>
     Merhaba! Ben Atalay Çelik, yazılım geliştiricisi ve teknoloji meraklısıyım. Çocukluğumdan beri bilgisayarlara ve yazılıma büyük bir ilgi duydum ve bu tutkum beni profesyonel
     bir kariyere yönlendirdi. Doğuş Üniversitesi Yazılım Mühendisliği bölümü son sınıf öğrencisiyim.
     Eğitim hayatım boyunca kendimi sürekli geliştirdim ve  Html, Css, Java, C# ve SQL gibi birçok programlama dilinde yetkinim ve çeşitli projelerde aktif olarak bu dilleri kullanıyorum.
     İlgilendiğim konular arasında web programlama, mobil uygulama geliştirme ve siber güvenlik de bulunuyor.
     Bu blogda, projelerimi ve deneyimlerimi paylaşarak başkalarına ilham vermeyi ve bilgi birikimimi geniş bir kitleye aktarmayı amaçlıyorum.
     Her zaman yeni şeyler öğrenmeye ve öğrendiklerimi paylaşmaya açığım. Siz de bu yolculukta bana katılmak isterseniz, blog yazılarımı ve projelerimi takip edebilir,
     iletişim sayfasından bana ulaşabilirsiniz.
    </p>
    </div>
</div>


 