@{
    ViewData["Title"] = "Hakkımda";
}

<h1>Hakkımda</h1>
<p>Merhaba, ben Atalay Çelik. Bu benim kişisel blog ve portfolyo sitem.</p>
<p>Buraya kendinizle ilgili daha fazla bilgi ekleyebilirsiniz. Örneğin, profesyonel geçmişiniz, ilgi alanlarınız ve hobileriniz hakkında yazabilirsiniz.</p>