@{
    ViewData["Title"] = "Anasayfa";
}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
           <h1 class="main-title">
           Merhaba ben Atalay Çelik blog sayfama hoşgeldiniz. Yazılarıma yukarıdan blog sayfasına tıklayarak ulaşabilirsiniz.
           </h1>
        </div>
        <hr>
    </div>
</div>
